:root {
    --site-background-dark: #030712;
    --text-color-dark: #f3f4f6;
    --borders-dark: #2b2d34;
    --hovers-dark: #2b2d34;
    --font-family: 'Satoshi', sans-serif;
    --link-colors: #5995f6;
    --link-colors-hovers: #3b78d8;
}

* {
    margin: 0;
    padding: 0;
    background-color: var(--site-background-dark);
}

/* Header content! */
header {
    display: flex;
    justify-content: center;
    margin: 25px 50px 10px 50px;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--site-background-dark);
    border: 2px solid var(--borders-dark);
    border-radius: 15px;
    color: var(--text-color-dark);
    padding: 10px 25px;
    width: 1200px;
    font-family: var(--font-family);
}

.logo-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}

.nav-links {
    list-style-type: none;
    display: flex;
    gap: 35px;
    align-items: center;
}

.nav-links ul {
    display: flex;
    flex-direction: row;
}

.nav-links a {
    text-decoration: none;
    color: var(--text-color-dark);
}

.logo-pic {
    border-radius: 15px;
}

.contact {
    border-radius: 15px;
    border: 2px solid var(--borders-dark);
    background: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    width: 50px;
    height: 50px;
}

.contact:hover {
    background-color: var(--hovers-dark);
}

.contact-button {  
    border: none;
    background: transparent;
    font-size: 20px;
}

.fa-envelope {
    background: transparent;
}

@media (max-width: 840px) {
    header {
        margin: 15px 25px 10px 25px;
    }
    
    .header-content {
        width: 90%;
        padding: 10px 15px;
    }

    .nav-links {
        gap: 20px;
    }

    .logo-pic {
        width: 40px;
        height: 40px;
    }

    .contact {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 500px) {
    header {
        margin: 10px 15px 10px 15px;
    }
    
    .header-content {
        width: 100%;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        padding: 5px 10px;
    }

    .nav-links {
        gap: 15px;
    }

    .logo-pic {
        width: 30px;
        height: 30px;
    }

    .contact {
        width: 30px;
        height: 30px;
    }
}

/* Light and Dark Mode Toggle */

.light-and-dark {
    display: flex;
    justify-content: center;
    background: transparent;
    padding: 10px 20px;
}

.toggle-theme {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 2px solid var(--borders-dark);
    border-radius: 10px;
    width: 35px;
    height: 35px;
    transition: background-color 0.3s ease;
}

.toggle-theme:hover {
    background-color: var(--hovers-dark);
}

.sun-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background: transparent;
}

/* Main content! */
.main-content {
    display: flex;
    flex-direction: column;
    margin: 0px 50px;
}

.heading-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 50px;
}

h1 {
    color: var(--text-color-dark);
    font-family: var(--font-family);
    font-size: 64px;
}

h2 {
    color: var(--text-color-dark);
    font-family: var(--font-family);
    font-size: 32px;
}

/* Working Status - be sure to make it responsive later and actively updates depending on the current project */

.working-status {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border: 2px solid var(--borders-dark);
    background-color: transparent;
    border-radius: 15px;
    padding: 5px 10px;
    gap: 10px;
}

.working-status p {
    color: var(--text-color-dark);
    font-family: var(--font-family);
    font-size: 12px;
    background: transparent;
}

.status-indicator {
    width: 8px;
    height: 8px;
    background-color: #34D399;
    border-radius: 50%;
}

.project-link {
    text-decoration: none;
    color: var(--link-colors);
    background: transparent;
    transition: color 0.3s ease;
}

.project-link:hover {
    color: var(--link-colors-hovers);
    text-decoration: underline;
}

@media (max-width: 840px) {
    .main-content {
        margin: 0px 25px;
    }
    
    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 26px;
    }

    .heading-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
}

@media (max-width: 500px) {
    .main-content {
        margin: 0px 20px;
    }
    
    h1 {
        font-size: 52px;
    }

    h2 {
        font-size: 24px;
    }

    .heading-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .working-status {
        flex-direction: row;
        padding: 5px 10px;
        gap: 5px;
    }
    .working-status p {
        font-size: 10px;
    }
    .status-indicator {
        width: 6px;
        height: 6px;
    }
}

/* Main Content - Cards Section */
.intro-work-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 25px;
}

.intro-work-row {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.intro-item-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--borders-dark);
    border-radius: 15px;
    padding: 15px;
    width: 150px;
    height: 200px;
    background-color: var(--site-background-dark);
}

.intro-item-project-SGS {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--borders-dark);
    border-radius: 15px;
    padding: 15px;
    width: 150px;
    height: 200px;
    background-image: url('content/brice.png');
    background-size: cover;
    background-position: center;
}

h5 {
    color: var(--text-color-dark);
    font-family: var(--font-family);
    font-size: 12px;
    background: transparent;
}

@media (max-width: 840px) {
    .intro-work-content {
        width: 100%;
    }
    
    .intro-work-row {
        display: grid;
        width: 75%;
        justify-items: center;
        justify-content: center;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        padding: 0;
    }

    .intro-item-project, .intro-item-project-SGS {
        width: 200px;
        height: 250px;
    }
}

@media (max-width: 500px) {
    .intro-work-row {
        display: grid;
        width: 75%;
        justify-items: center;
        justify-content: center;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        padding: 0;
    }

    .intro-item-project, .intro-item-project-SGS {
        width: 100px;
        height: 150px;
    }
}