:root {
    --site-background-dark: #030712;
    --text-color-dark: #f3f4f6;
    --paragraph-color-dark: #d1d5db;
    --labels-color-dark: #9ca3af;
    --borders-dark: #2b2d34;
    --hovers-dark: #2b2d34;
    --font-family: 'Satoshi', sans-serif;
    --link-colors: #5995f6;
    --link-colors-hovers: #3b78d8;
    --fluid-typography: clamp(1rem, 0.5rem + 1vw, 1.5rem);
}

* {
    margin: 0;
    padding: 0;
    background-color: var(--site-background-dark);
}

/* Header content! */
header {
    display: flex;
    justify-content: center;
    margin: 25px 25px 10px 25px;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--site-background-dark);
    border: 2px solid var(--borders-dark);
    border-radius: 15px;
    color: var(--text-color-dark);
    padding: 10px 25px;
    width: 100%;
    max-width: 1200px;
    font-family: var(--font-family);
}

.logo-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 15px;
}

.nav-links {
    list-style-type: none;
    display: flex;
    gap: 35px;
    align-items: center;
}

.nav-links ul {
    display: flex;
    flex-direction: row;
}

.nav-links a {
    text-decoration: none;
    color: var(--text-color-dark);
}



.contact {
    border-radius: 15px;
    border: 2px solid var(--borders-dark);
    background: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    width: 50px;
    height: 50px;
}

.contact:hover {
    background-color: var(--hovers-dark);
}

.contact-button {  
    border: none;
    background: transparent;
    font-size: 20px;
}

.fa-envelope {
    background: transparent;
}

@media (max-width: 52.5rem) { /* 840px */
    header {
        margin: 0.938rem 1.563rem 0.625rem 1.563rem; /* 15px 25px 10px 25px */
    }
    
    .header-content {
        width: 100%;
        max-width: 90%;
        padding: 0.625rem 0.938rem; /* 10px 15px */
    }

    .nav-links {
        gap: 1.25rem; /* 20px */
    }

    .logo-pic {
        width: 2.5rem; /* 40px */
        height: 2.5rem; /* 40px */
    }

    .contact {
        width: 2.5rem; /* 40px */
        height: 2.5rem; /* 40px */
    }
}

@media (max-width: 31.25rem) { /* 500px */
    header {
        margin: 0.625rem 0.938rem 0.625rem 0.938rem; /* 10px 15px 10px 15px */
    }
    
    .header-content {
        width: 100%;
        max-width: none;
        flex-direction: row;
        gap: 0.625rem; /* 10px */
        align-items: center;
        padding: 0.313rem 0.625rem; /* 5px 10px */
    }

    .nav-links {
        gap: 0.938rem; /* 15px */
    }

    .logo-pic {
        width: 1.875rem; /* 30px */
        height: 1.875rem; /* 30px */
    }

    .contact {
        width: 1.875rem; /* 30px */
        height: 1.875rem; /* 30px */
    }
}

/* Footer content! */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    margin-top: 50px;
    border-top: 2px solid var(--borders-dark);
}

/* Light and Dark Mode Toggle */

.light-and-dark {
    display: flex;
    justify-content: center;
    background: transparent;
    padding: 10px 20px;
}

.toggle-theme {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 2px solid var(--borders-dark);
    border-radius: 10px;
    width: 35px;
    height: 35px;
    transition: background-color 0.3s ease;
}

.toggle-theme:hover {
    background-color: var(--hovers-dark);
}

.sun-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background: transparent;
}

/* Main content! */
.main-content {
    display: flex;
    flex-direction: column;
    margin: 0px 50px;
}

.heading-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 50px;
}

h1 {
    color: var(--text-color-dark);
    font-family: var(--font-family);
    font-size: 6rem;
}

h2 {
    color: var(--text-color-dark);
    font-family: var(--font-family);
    font-size: 2.5rem;
}

h3 {
    font-family: var(--font-family);
    font-size: 2rem;
    color: var(--text-color-dark);
}

h6 {
    font-family: var(--font-family);
    color: var(--labels-color-dark);
    font-size: 1rem;
    font-weight: 500;
}

p {
    font-family: var(--font-family);
    color: var(--paragraph-color-dark);
    font-size: 1rem;
    line-height: 1.6;
}



/* Working Status - be sure to make it responsive later and actively updates depending on the current project */

.working-status {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border: 2px solid var(--borders-dark);
    background-color: transparent;
    border-radius: 15px;
    padding: 5px 10px;
    gap: 10px;
}

.working-status p {
    color: var(--text-color-dark);
    font-family: var(--font-family);
    font-size: 12px;
    background: transparent;
}

.status-indicator {
    width: 8px;
    height: 8px;
    background-color: #34D399;
    border-radius: 50%;
}

.project-link {
    text-decoration: none;
    color: var(--link-colors);
    background: transparent;
    transition: color 0.3s ease;
}

.project-link:hover {
    color: var(--link-colors-hovers);
    text-decoration: underline;
}

@media (max-width: 52.5rem) { /* 840px */
    .main-content {
        margin: 0 1.563rem; /* 0 25px */
    }
    
    h1 {
        font-size: 4.5rem; /* 72px */
    }

    h2 {
        font-size: 1.875rem; /* 30px */
    }

    .heading-content {
        padding: 0;
    }

    .working-status {
        margin-top: 0.625rem; /* 10px */
    }
}

@media (max-width: 31.25rem) { /* 500px */
    .main-content {
        margin: 0 1.25rem; /* 0 20px */
    }
    
    h1 {
        font-size: 3.5rem; /* 56px */
    }

    h2 {
        font-size: 1.625rem; /* 26px */
    }

    .heading-content {
        padding: 0;
    }

    .working-status {
        flex-direction: row;
        padding: 0.438rem 0.938rem; /* 7px 15px */
        gap: 0.625rem; /* 10px */
    }
    .working-status p {
        font-size: 0.625rem; /* 10px */
    }
    .status-indicator {
        width: 0.5rem; /* 8px */
        height: 0.5rem; /* 8px */
    }
}

/* Main Content - Cards Section */
.intro-work-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin: clamp(1rem, 2vw, 20rem) auto;
    max-width: 90%;
}

.intro-work-row {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.intro-item-project, .intro-item-project-ticketing  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 2px solid var(--borders-dark);
    border-radius: 15px;
    padding: 15px;
    width: 11rem;
    height: 15rem;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.intro-item-project-ticketing {
    background-image: url('content/brice.png');
    background-color: rgba(0, 0, 0, 0.25);
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
}

h7 {
    color: var(--text-color-dark);
    font-family: var(--font-family);
    font-size: 13px;
    background: transparent;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.intro-item-project:hover, .intro-item-project-ticketing:hover {
    transform: scale(1.05);
}

@media (max-width: 52.5rem) { /* 840px */
    .intro-work-content {
        width: 100%;
    }
    
    .intro-work-row {
        display: grid;
        width: 75%;
        justify-items: center;
        justify-content: center;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        padding: 0;
    }

    .intro-item-project, .intro-item-project-ticketing {
        width: 150px;
        height: 250px;
    }
}

@media (max-width: 31.25rem) { /* 500px */
    .intro-work-row {
        display: grid;
        width: 75%;
        justify-items: center;
        justify-content: center;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        padding: 0;
    }

    .intro-item-project, .intro-item-project-ticketing {
        width: 125px;
        height: 175px;
    }
}

/* Experience Content */
.experience-content {
    display: flex;
    flex-direction: column;
    margin: 50px 50px;
    gap: 25px;
}

/* Timeline Styles */
.timeline-container {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.timeline {
    display: flex;
    align-items: center;
    max-width: 800px;
    width: 100%;
    padding: 20px;
}

.timeline-item {
    flex: 1;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timeline-dot {
    width: 20px;
    height: 20px;
    background-color: var(--borders-dark);
    border-radius: 50%;
    position: relative;
    z-index: 2;
}

.timeline-item.active .timeline-dot {
    background-color: var(--link-colors);
}

.timeline-item.superactive .timeline-dot {
    background-color: var(--link-colors);
    width: 30px;
    height: 30px;
    border: 2px solid var(--borders-dark);
}

.timeline-line {
    position: absolute;
    top: 8px; 
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--borders-dark);
    transition: background-color 0.3s ease;
    z-index: 1;
}

.timeline-item:first-child .timeline-line {
    left: 50%;
    width: 50%;
    background-color: var(--link-colors);
}

.timeline-item.active .timeline-line {
    background-color: var(--link-colors);
    width: 150%;
}


.timeline-item:last-child .timeline-line {
    width: 50%;
    right: 50%;
}

.timeline-item.superactive .timeline-line {
    top: 15px;
    width: 100%;
    left: 50%;
    right: 0%;
}

.timeline-label {
    color: var(--text-color-dark);
    font-family: var(--font-family);
    font-size: 1rem;
    margin-top: 10px;
}



@media (max-width: 37.5rem) { /* 600px */
    .timeline-label {
        font-size: 0.85rem; /* 12px */
    }

    .timeline-item.superactive .timeline-dot {
        width: 1.563rem; /* 25px */
        height: 1.563rem; /* 25px */
    }
    
    .timeline-item.superactive .timeline-line {
        top: 0.813rem; /* 13px */
    }

    .timeline-dot {
        width: 0.938rem; /* 15px */
        height: 0.938rem; /* 15px */
    }

    .timeline-line {
        top: 0.375rem; /* 6px */
    }
}

@media (max-width: 25rem) { /* 400px */
    .timeline-label {
        font-size: 0.7rem; /* 8px */
    }
    
    .timeline-item.superactive .timeline-dot {
        width: 1.25rem; /* 20px */
        height: 1.25rem; /* 20px */
    }

    .timeline-item.superactive .timeline-line {
        top: 0.688rem; /* 11px */
    }

    .timeline-dot {
        width: 0.75rem; /* 12px */
        height: 0.75rem; /* 12px */
    }

    .timeline-line {
        top: 0.313rem; /* 5px */
    }
}


/* Body -> Movie Ticketing App */
.intro-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px 325px 0px 325px;
    gap: 15px;
}

.intro-header {
    color: var(--text-color-dark);
}

.hero-container {
    max-width: 1400px;
    justify-content: center;
    display: flex;
}

.hero-image {
    width: 100%;
    display: flex;
    flex-direction: column;
    cursor: pointer;

}

.hero-pic {
    width: 100%;
    border-radius: 15px;
}

.hero-caption {
    color: var(--text-color-dark);
    font-family: var(--font-family);
    font-size: 18px;
    background: transparent;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.page-content {
    display: flex;
    flex-direction: column;
    line-height: 1.6;
    margin-top: 15px;
    gap: 15px;
}

.page-section {
    display: flex;
    flex-direction: column;
}

.page-section li {
    color: var(--paragraph-color-dark);
    font-family: var(--font-family);
    font-size: 1rem;
    margin-top: 20px;
    margin-left: 20px;
}

.page-section ol {
    margin-bottom: 20px;
}

.quote-box {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 15px;
}

.link {
    text-decoration: none;
    color: var(--link-colors);
    background: transparent;
    transition: color 0.3s ease;
    margin-left: 20px;
    font-family: var(--font-family);
}

.link a {
    text-decoration: none;
    color: var(--link-colors);
}

.page-section q {
    font-style: italic;
    color: var(--paragraph-color-dark);
    font-family: var(--font-family);
    font-size: 1rem;
}

.page-section q::before {
    margin: 0;
}

@media (max-width: 75rem) {
    .intro-content {
        margin: 50px 100px 0px 100px;
    }
    
    h3 {
        font-size: 28px;
    }

    h6 {
        font-size: 16px;
    }
}

@media (max-width: 37.5rem) { /* 600px */
    .intro-content {
        margin: 50px 25px 0px 25px;
    }

    h3 {
        font-size: 24px;
    }

    h6 {
        font-size: 14px;
    }

    .hero-caption {
        font-size: 16px;
    }
}

@media (max-width: 25rem) { /* 400px */
    .intro-content {
        margin: 25px 15px 0px 15px;
    }

    h3 {
        font-size: 20px;
    }

    h6 {
        font-size: 12px;
    }

    .hero-caption {
        font-size: 14px;
    }
}